* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(133, 196, 238);
}

.face {
  background-color: rgb(223, 217, 217);
  height: 550px;
  width: 600px;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.eyes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  height: 300px;
}

.eye {
  width: 250px;
  height: 250px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(1, 0, 0, 0.90) 0 24px -90px;
  overflow: hidden;
}

.pupil {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
}
